.titleLikesViews {
	display:flex;
}

.titleLikesViewsContainer {
	display:flex;
	/*border:2px solid red;*/
	width:100%;
}

.videoPlay {
	width: 100%;
	background: black;
	display:flex;
	justify-content:center
}

.positioningTitleLikes {
	/*border: 2px solid purple;*/
	width: 100%;
	display: flex;
	justify-content: space-between
}

.positionLikes {
	/*border: 2px solid green;*/
	display: flex;
	justify-content:space-around;
	align-items:flex-start;
	width: 46%;
}

.iconsColorFonts {
	font-size: 20px;
	color: #707070;
}

.show{
	display: block;
}

.none {
	display: none
}

.positionChannelContainer {
	display:flex;
	justify-content:space-between;
}

.channelThumbnail {
	width:70px;
	border-radius:50%;
}

.channelTitle {
	font-weight:bold;
	letter-spacing:.3px;
}

.channelDate {
	font-size: 12px;
	color:#707070;
}

.channelDescription {
	margin-top:25px;
	line-height:200%
}

.showLessMore {
	font-size: 15px;
	color:#707070;
	cursor:pointer
}

.subButton{
	font-size: 17px;
	padding: 5px 7px;
	width: 120px;
	background: #e62117;
	font-weight: 600;
	color: white;
	border: 2px solid #e62117;
	border-radius: 2px;
}
