@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
.titleLikesViews {
	display:flex;
}

.titleLikesViewsContainer {
	display:flex;
	/*border:2px solid red;*/
	width:100%;
}

.videoPlay {
	/*background: black;*/
	margin-bottom: 4%;
	display:flex;
	justify-content:flex-start;
	width: 100%;
	margin-left: 3.5%;
}

.positioningTitleLikes {
	/*border: 2px solid purple;*/
	width: 95%;
	display: flex;
	justify-content: space-between;
	margin-left: 3%;
}

.positionLikes {
	/*border: 2px solid green;*/
	display: flex;
	justify-content:space-around;
	align-items:baseline;
	width: 30%;
}

.iconsColorFonts {
	font-size: 18px;
	color: #a0a0a0;
}

.show{
	display: block;
}

.none {
	display: none
}

.channelContainer {
	margin-left: 2%;
}

.positionChannelContainer {
	display:flex;
	justify-content:space-between;
	/*border:2px solid red;*/
	margin-left: 2.3%;
}

.channelThumbnail {
	width:70px;
	border-radius:50%;
}

.channelTitle {
	font-weight:bold;
	letter-spacing:.3px;
}

.channelDate {
	font-size: 14px;
	color:#a0a0a0;
	margin-top: 1%;
	width: 300px;
}

.channelDescription {
	margin-top:25px;
	line-height:300%;
	width: 580px;
}

.mainVideoTitle {
	font-size:20px;
	letter-spacing:.2px;
	width: 500px;

}

.showLessMore {
	margin-top: 3%;
	font-size: 15px;
	color:#a0a0a0;
	cursor: pointer;
}


.subButton{
	font-size: 15px;
	padding: 10px 15px;
	background: #e62117;
	color: white;
	border: 2px solid #e62117;
	border-radius: 2px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.RecommendedContainer {
	margin-right: 3%;
	/*border: 2px solid blue*/
}

.recThumbnail {
	width: 170px;
	height: 96px;
}

.recTitle {
	font-size: 15px;
	width: 225px;
	font-family: "Roboto";
	font-weight: bolder;
}

.like {
	color: #a0a0a0;
	margin-left: 10px;
	font-size: 18px;
}

.dislike {
	color: #a0a0a0;
	margin-left: 10px;
	font-size: 18px;
}

.text-center {
	display: flex;
	justify-content: space-between;
	/*border: 2px solid red;*/
}

.superContainer {
	/*border: 2px solid red;*/
}

.likeDislike {
	background:#a0a0a0;
	height: 2px;
	width: 200px;
	text-align: center;
	margin-left: 70%;
}

.commentSection {
	margin-top: 30px;
}

.commentItem {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}


.megaContainer {
	display:flex;
	margin-top:1.7%;
	margin-left:2%
}

.containerForMTCC {
	width: 70%;
}

.recChannelTitle {
	font-size: 15px;
	color: grey;
	margin-top:7px;
}

@media only screen and (max-width: 1200px) {
	.likeDislike {
		margin-left: 67%;
	}
}

@media only screen and (max-width: 1100px) {
	.megaContainer {
		flex-direction: column;
	}

	.containerForMTCC {
		width: 100%;
		margin-bottom: 30px;
	}

	.subButton {
		margin-top: 30px;
		font-size: 15px;
	}


	.likeDislike {
		margin-left: 72%;
	}
}


@media only screen and (max-width: 750px) {
	.likeDislike {
		margin-left: 70%;
	}
}

@media only screen and (max-width: 700px) {
	.likeDislike {
		margin-left: 65%;
	}

	.positionChannelContainer {
		flex-direction: column;
	}
}

@media only screen and (max-width: 580px) {
	.likeDislike {
		margin-left: 63%;
	}

	.positioningTitleLikes {
		flex-wrap: wrap;
	}

	.likeDislike {
		margin-left: 3%;
	}

	.iconsColorFonts {
		margin-left: 20px;
	}

	.theThumbup {
		margin-left: 40%;
	}


}

@media only screen and (max-width: 550px) {
	.likeDislike {
		margin-left: 3%;
	}

	.iconsColorFonts {
		margin-left: 20px;
	}

	.theThumbup {
		margin-left: 110%;
	}
}
