@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
.titleLikesViews {
	display:flex;
}

.titleLikesViewsContainer {
	display:flex;
	/*border:2px solid red;*/
	width:100%;
}

.videoPlay {
	/*background: black;*/
	margin-bottom: 4%;
	display:flex;
	justify-content:flex-start;
	width: 100%;
	margin-left: 3.5%;
}

.positioningTitleLikes {
	/*border: 2px solid purple;*/
	width: 95%;
	display: flex;
	justify-content: space-between;
	margin-left: 3%;
}

.positionLikes {
	/*border: 2px solid green;*/
	display: flex;
	justify-content:space-around;
	align-items:baseline;
	width: 30%;
}

.iconsColorFonts {
	font-size: 18px;
	color: #a0a0a0;
}

.show{
	display: block;
}

.none {
	display: none
}

.channelContainer {
	margin-left: 2%;
}

.positionChannelContainer {
	display:flex;
	justify-content:space-between;
	/*border:2px solid red;*/
	margin-left: 2.3%;
}

.channelThumbnail {
	width:70px;
	border-radius:50%;
}

.channelTitle {
	font-weight:bold;
	letter-spacing:.3px;
}

.channelDate {
	font-size: 12px;
	color:#a0a0a0;
	margin-top: 1%;
	/*border: 2px solid green;*/
	width: 300px;
}

.channelDescription {
	margin-top:25px;
	line-height:300%;
	/*border: 2px solid green;*/
	width: 580px;
}

.showLessMore {
	margin-top: 3%;
	font-size: 15px;
	color:#a0a0a0;
	cursor: pointer;
	/*border: 2px solid red*/
}


.subButton{
	font-size: 15px;
	padding: 10px 15px;
	background: #e62117;
	color: white;
	border: 2px solid #e62117;
	border-radius: 2px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.RecommendedContainer {
	margin-right: 3%;
	/*border: 2px solid blue*/
}

.recThumbnail {
	width: 137px;
	height: 96px;
}

.recTitle {
	font-size: 15px;
	width: 225px;
	font-family: "Roboto";
	font-weight: bolder;
}

.like {
	color: #a0a0a0;
	margin-left: 10px;
	font-size: 18px;
}

.dislike {
	color: #a0a0a0;
	margin-left: 10px;
	font-size: 18px;
}

.text-center {
	display: flex;
	justify-content: space-between;
	/*border: 2px solid red;*/
}

.superContainer {
	/*border: 2px solid red;*/
}

.likeDislike {
	background:#a0a0a0;
	height: 2px;
	width: 200px;
	text-align: center;
	margin-left: 70%;
}
